<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LayerData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>1BXmksSz5vUd1PSYkqSFgkJAKdmZ4rpb41491jKXz6t+rOvouK+WmEBsHBB+OipcQXDshBl0ikZi7szi36jypoL43nJPJTNOOplY6IIt0rRTnaNr+lHR+yv1BRzs5npXirkumbx/dfD5TcE3UOOXbRX6ZcUAPQLsFyu4MHysfBDf5E8QH1PZck9V0Ku1/AVyYKjLo/p9hCZdA5yxtS8lrbTyCEX66bZoUv3F47dXDFt11/SNac4SmERk2CCdt268jBi1xadMkAEjOjv5E2z1/yhKDmnB0Fwf4fgWWc/RK1/DECZ3Qsa6lwUQGPwbBQcuA5ajvPkVfF+MkSJc4BAzCA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>bRNXUVegqXUB1zj5xF7twBxG72xIS+iixCqWo7xvXRrmiQBq+rqjVHM7Oz+7tXv9ENwZuw5lOu7fizleNxw+hdwzvUtqvpTdXLS+iVJCn2uassQ4dWGL3MXrBaPVbEXXXo3CXWLtdqveprjXR7lwzqXhGE4jvpdcIfGkko2p8B7E+gDxWjrNppquSPhIlGsJcQr9nYnHsBXB9I+rYitXnBmqQ10MvfjIZxPCpVA8GViQ1tHoAeej/OPafMFBeH97xN+24hda2TlTw44FVJpAas9TFC8mrMCZKgMkckl+++mTos7CjAfRI10naj0h1CpK</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <userSettings>
        <LayerData.Properties.Settings>
            <setting name="ConnectionLocal" serializeAs="String">
                <value>Data Source=LAPTOP-NITRO5\SQLEXPRESS;Initial Catalog=miRegistro;Integrated Security=True</value>
            </setting>
            <setting name="ConnectionToAzure" serializeAs="String">
                <value>Server=tcp:rna-argentina.database.windows.net,1433;Initial Catalog=MiRegistroCalafateSC;Persist Security Info=False;User ID=adminrna;Password=registro998P;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
        </LayerData.Properties.Settings>
    </userSettings>
</configuration>