<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LayerData.Properties.Settings.Connection" connectionString="Data Source=192.168.0.114,1433;Initial Catalog=miRegistro;Persist Security Info=True;User ID=miRegistroSql;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>