<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LayerData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>GZ9N96K4bq+qdwr/WICJ1t359sTVezpGjp6fDQRZykeNI8hPi2Y0WGdUpoEyZFzEYVceCfadwdbZ8VYpUafPl1x16mFvZUHnHJcIDS55+riMiqFovefvl77WMUpE/qbdRAx4Nw+sLwJyyQ7U99yR5eXcjZvc58wxXabjaUuVDys1htp0DeO8ybm539cGwt961bnps6RXgbdEdSAFru15inz2aX4bqcscQ3QHsJFSpgvbQh9jSMMLgUWaZFYDuo9ly8I0YgQnG9fX5dD7OhCOuiNvA+5avPs6VHYH3CZlKkU6o5Y6/hRxtn58MEiuT4lCm+Fwr1wQnlMzkGOkGg6TLQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>M89F2nas7yhhmg0WAH1lqEtR5zjMPD74DQsL25ULQETbUIClCGw7XWNuEdjNmZvt32pWaPbaMts834ggU62phgChX6YQQf9mU3dkJ2SxF6P7vazX7Yl1qqEJ+Z2s9KR0StRyVXU9FjFLw5xI17/IdJBiRFuPfV6sTE45SP5YJU7XxiusoOk1Ee8BJ9rT+BvqnW7r/EKpJyYNS4/g2f0dQR/S8DIwvIzGFhiYIXGZwn+29aobR6ksQ7rYTfTaiZ8lGUdgpPJFacv4RFvqM7xcAbzPiODERF7G4GH5NDYmbA0gWPmzxcjDtKx3udrI0HitIBRbZMlpwiI3Rr2zghL3foUvzO+0zwhLpFih/dUmyNrrAfood2gedClwDAek5WKN4zo71h9z6MjJ+opQXFReMSM9IkaTxPnxvz5/aAM18gYIpLHtFBv2+2yBF9zefS1Ur4bmryACjQyUsM2oI1eKyGFXLGLBhsJ9fnJsFZYvEdnH9vSUnKyhxVd/te+LmZixjeFv677mAZzzFtQluGSE61kTuQu/fd1ZZ7iKIGKAOJGSA6SVMoJCLsONPIfCanCngRLlf3eJ4dh1KXXstmd6mA==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <userSettings>
        <LayerData.Properties.Settings>
            <setting name="ConnectionLocal" serializeAs="String">
                <value>Data Source=LAPTOP-NITRO5\SQLEXPRESS;Initial Catalog=miRegistro;Integrated Security=True</value>
            </setting>
        </LayerData.Properties.Settings>
    </userSettings>
</configuration>